<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Get Started</title>
</head>
<body >
    <div class="container " >
        <div class="text-center mt-3">
            <h1 class="text-center">Welcome To The Best CrowdFunding Website In The World</h1>
            <h2 class="text-center">Hurry Up Join Us Now</h2>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="../static/crowdfunding-banner-web-icon-business-startup_35632-144.webp" alt="">
        </div>
        <div class="d-flex justify-content-around align-items-end" style="height: 150px;">
            <a href="{% url 'registertaionForm' %}" class="btn btn-primary">Become a Member</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Already a Member</a>
        </div>
    </div>
    
</body>
</html>