<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Profile</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body style="padding:10px">
        <div class="form-group">
            <div class="d-flex justify-content-center mt-3 mb-3">
                <img src="{{myinfo.Profile_Picture.url}}" alt="" width="300px">
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden"  name="formname" value="profilepic">
                
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <input type="file" id="imageField" name="image" class="form-control w-25 me-3" style="display: none;">
                    <input type="submit" value="Edit" class="btn btn-primary me-3" onclick="event.preventDefault(); this.previousElementSibling.style.display='block'; this.nextElementSibling.style.display='inline'">
                    <input type="submit" id="saveButton"  value="Save" class="btn btn-primary me-3" style="display: none;">
                </div>
            </form>
        </div>
        

        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <div class="container mx-auto w-50 position-relative">
                    <input type="hidden"  name="formname" value="basicinfo">
                <h2>basic information</h2>
                <label class="h5" for="fname">First Name :</label>
                <input type="text" class="basicinfo form-control mb-3" name="fname" readonly value="{{myinfo.First_Name}}">
                
    
                <label class="h5" for="lname">Last Name :</label>
                <input type="text" class="basicinfo form-control mb-3" name="lname" readonly value="{{myinfo.Last_Name}}">
                
    
                <label class="h5" for="password">Password :</label>
                <input type="text" class="basicinfo form-control mb-3" name="password" readonly value="{{myinfo.Password}}">
    
                <label class="h5" for="confpassword"  class="confpassword " style="display: none;">Confirm Password :</label>
                <input type="text" class="basicinfo confpassword form-control mb-3" style="display: none;" name="confpassword" readonly value="{{myinfo.Password}}">
                <br style="display: none;" class="confpassword"> <br style="display: none;" class="confpassword">
    
                <label class="h5" for="">Phone Number :</label>
                <input type="text" class="basicinfo form-control mb-3" name="phonenumber" readonly value="{{myinfo.Phone_Number}}">
        
    
                <input type="submit" value="Edit" class="btn btn-primary me-3" onclick="event.preventDefault(); editbasicinfo();">
                <input type="submit" value="Save" class="confpassword btn btn-primary me-3" style="display: none;">
                </div>
            </form>
        </div>

        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <input type="hidden"  name="formname" value="myproj">
                <h2>Projects</h2>
                 <div class="owl-carousel owl-theme">
                    {%for j in myproject%}
                    <div class="item" onclick="gottolink(this);">
                        <a href="/project/{{j.id}}"></a>
                        <div class="card">
                            <img src="{{j.poster.url}}" class="card-img-top" alt="..." height="160px">
                            <div class="card-body">
                            <p>{{j.title}}</p>
                            </div>
                            <div class="card-body">
                            <a href="/editing/{{j.id}}" class="btn btn-primary">Edit project</a>
                            </div>
                          </div>
                    </div>
                    {%endfor%}
                 </div>
                </div>
            </form>
        </div>


        <div class="form-group mt-5">
            {% for j in mydonation %}
                <form method="post">
                    {% csrf_token %}
                    <div class="container">
                        <h2>Donations</h2>
                        <input type="hidden"  name="formname" value="mydon">
                    <input type="hidden" name="id" value="{{j.id}}">
                    <input type="number" class="form-control w-25 mb-3"  value="{{j.amount}}" readonly>
                    <label>to {{j.project_obj.title}}</label>
                    <a class="btn btn-primary" href="/project/{{j.project_obj.id}}">Show Project</a>
                    <br> <br>
                    <input type="number" name="newvalue" style="display: none;">
                    <input type="submit" class="btn btn-primary" value="edit" onclick="event.preventDefault();  this.previousElementSibling.style.display='inline'; this.nextElementSibling.style.display='inline'">
                    <input type="submit" class="btn btn-primary" value="save" style="display: none;">
                    <input type="hidden"  name="opertype" value="edit">
                    <input type="submit" class="btn btn-primary" value="delete" onclick="event.preventDefault(); this.previousElementSibling.value='delete'; this.parentNode.submit();">
                    <div style="margin-bottom:20px"></div>
                    </div>
                </form>
            {% endfor %}
            
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            function editbasicinfo(){
                confirmpass = document.getElementsByClassName('confpassword');
                for(let i of confirmpass){
                    i.style.display = 'inline';
                }
                allinput = document.querySelectorAll(".basicinfo");
                console.log(allinput);
                for(let i of allinput)
                {
                    i.removeAttribute('readonly');
                }

            }





            $('.owl-carousel').owlCarousel({
            loop:false,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:2
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })

        function gottolink(el)
        {
            console.log(el.children[0])
            el.children[0].click();
        }
        


        </script>
    </body>
</html>